@import url('bootstrap.min.css');
@import url('all.css');
@import url('nice-select.css');
@import url('magnific-popup.css');
@import url('slick.css');
@import url('default.css');
@import url('style.css');

.test {

}
