.fs3 {
	font-size: 18px;
}

.bang-gia .chi-tiet-gia {
	color: #d00;
	font-weight: 600;
	text-align: right;
	font-size: 16px;
}

section {
	z-index: 1;
}

.large-section {
	padding: 40px 0;
}

.box-office-365 {
	background-color: #fff;
	border: 5px solid #FF6513;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 15%;
}

.box-office-365 h6 {
	color: #FF6513;
	font-size: 24px;
}

.box-office-365 h1 {
	font-size: 76px;
	color: #FF6513;
}

.box-office-365:hover {
	background-color: #FF6513;
}

.box-office-365:hover h6 {
	color: #fff;
}

.box-office-365:hover h1 {
	color: #fff;
}

/*.roi1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}*/

.gallery4 {
    flex: 35%;
    /*margin: 2% 6%;*/
    border-radius: 5px;
    height: 400px;
    overflow: hidden;
    background-color: #D8D8D8;
    text-align: center;
    margin-bottom: 30px;
}

.gallery4, .first-link {
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    transition: 1.8s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}

.ndcon {
    background: #f3b15a;
    color: #fff;
    padding: 10px 5px;
}

.gallery4 .first-link {
    color: white;
    text-decoration: none;
    margin-top: 0em;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.formatted-content img, .read-panel img, .read-view img, .a-detail-content img, .pd-content img {
    max-width: 100%;
    height: auto !important;
}

.gallery4:hover .first-link {
    margin-top: -100%;
}

img.lazyloaded {
	width: 96%;
}

.demo-vd {
	margin-bottom: 20px;
    border-radius: 5px;
    background: #e96060;
}

.demo-vd video {
	border-radius: 5px 5px 0px 0px;
}

.demo-vd .title {
	padding: 0px 12px 10px;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 736px) {
	.box-office-365 {
		padding: 5%;
	}

	.box-office-365 h1 {
		font-size: 60px;
	}

	.box-office-365 h6 {
		font-size: 20px;
	}
	.gallery4 {
	    height: 320px;
	}
}