@import url('https://fonts.googleapis.com/css2?family=Prata&amp;family=Roboto:wght@300;400;500;700&amp;display=swap');
@import url('app.min.css');
@import url('flaticon.min.css');
@import url('fontawesome.min.css');
@import url('style.css');
@import url('theme-color1.css');

.test {

}
