html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.browsehappy {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: -20px;
  z-index: 1;
}

.is_ie .browsehappy {
  display: block;
}

.is_ie .fullscreen {
  display: none;
}

.model-viewer-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto;
  background-color: #000;
}

.fullscreen {
  /* display: none; */
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  background: url("../img/fullscreen_sprite@2x.png") 1px -25px;
  background-size: 25px;
  z-index: 1;
  cursor: pointer;
  pointer-events: auto;
}

.ios .fullscreen {
  display: none;
}

.fullscreen:hover {
  background: url("../img/fullscreen_sprite@2x.png") 1px 0px;
  background-size: 25px;
}

.is_fullscreen .fullscreen {
  background: url("../img/fullscreen_sprite@2x.png") 1px -74px;
  background-size: 25px;
}

.is_fullscreen .fullscreen:hover {
  background: url("../img/fullscreen_sprite@2x.png") 1px -49px;
  background-size: 25px;
}

model-viewer p.style-scope {
  display: none;
}
