/* Default Color File  */




/* Color */
a:hover,
a {
    color: #0070AC;
}

.scroll-to-top:hover,
.preloader-close,
.search-popup .search-form fieldset input[type="submit"] {
    background-color: #0070AC;
}

.scroll-to-top {
    color: #0070AC;
    border: 2px dashed #0070AC;
}


.btn-style-one.style-two i {
    color: #0070AC;
}

.btn-style-one.style-two:before {
    background: #0070AC;
}

.btn-style-one.style-two:hover {
    border-color: #0070AC;
}

.btn-style-one {
    background-color: #0070AC;
}

.header-top .social-icon li a:hover {
    color: #0070AC;
}

.main-menu .navigation>li>ul>li>a:hover {
    color: #0070AC;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
    color: #0070AC;
}

.banner-section .banner-slider-button-next:hover {
    background-color: #0070AC;
}

.banner-section .banner-slider-button-prev:hover {
    background-color: #0070AC;
}

.course-details .text-block .top-content {
    background: #0070AC;
}

.course-details .text-block .link-btn a:hover {
    color: #0070AC;
}

.course-details .text-block .link-btn a i {
    color: #0070AC;
}

.blog-single-post blockquote:before {
    background: #0070AC;
}

.blog-single-post .post-share-info .tag span i {
    margin-right: 8px;
    color: #0070AC;
}

.blog-single-post .social-links li a:before {
    background: #0070AC;
}

.main-header .header-upper .contact-info .icon:before {
    background: #0070AC;
}

.driving-courses-section .project-tab .project-tab-btns .p-tab-btn:hover,
.driving-courses-section .project-tab .project-tab-btns .p-tab-btn.active-btn {
    color: #0070AC;
}

.driving-courses-section .owl-theme .owl-nav .owl-prev:hover:after,
.driving-courses-section .owl-theme .owl-nav .owl-next:hover:after {
    border-color: #0070AC;
    background-color: #0070AC;
}

.comments-area .comment-box .reply-btn a:hover {
    color: #0070AC;
}

.comments-area .comment-box .theme-btn:after {
    color: #0070AC;
}

.btn-style-one.style-three:hover {
    color: #0070AC;
}

.btn-style-one.style-three:after {
    top: 14px;
    color: #0070AC;
}

.header-top ul.contact-info li i {
    color: #0070AC;
}

.main-menu .navigation>li.current>a {
    color: #0070AC;
}

.hidden-sidebar .content-wrapper {
    background: #0070AC;
}

.hidden-sidebar-close {
    background: #35bba1;
}

.about-widget .social-links li a:before {
    background: #0070AC;
}

.newsletter-widget .theme-btn {
    background-color: #0070AC;
}

.newsletter-widget .theme-btn:hover {
    background-color: #fff;
    color: #0070AC;
}

.links-widget ul li a:after {
    color: #0070AC;
}

.contact-widget .contact-info li:hover .icon {
    background-color: #0070AC;
}

.footer-bottom .footer-menu li a:hover {
    color: #0070AC;
}

.service-block-one .inner-box.active,
.service-block-one .inner-box:hover {
    border-color: #0070AC;
}

.service-block-one .inner-box:before {
    background-color: #0070AC;
}

.about-section .contact-number a {
    color: #0070AC;
}

.about-section .contact-number a:hover {
    border-color: #0070AC;
}

.about-section .contact-number a i {
    background-color: #0070AC;
}

.about-section .contact-number a:hover i {
    color: #0070AC;
}

.course-block h4 a:hover {
    color: #0070AC;
}

.feature-banner-section h3 a {
    color: #0070AC;
}

.process-block .count {
    background-color: #0070AC;
}

.testimonials-section .owl-dots .owl-dot:hover,
.testimonials-section .owl-dots .owl-dot.active{
    background-color:#0070AC;
}

.testimonial-block h5 {
    color: #0070AC;
}

.news-block .post-meta-info .category {
    background-color: #0070AC;
}

.news-block h4 a:hover {
    color: #0070AC;
}

.main-header .header-upper .sidemenu-nav-toggler {
    background: #0070AC;
}

.about-section-two .consult-form-wrapper .top-content {
    background-color: #0070AC;
}

.course-block-two h4 a:hover {
    color: #0070AC;
}

.course-block-two .btn-style-one.style-three:hover {
    border-color: #0070AC;
}

.course-block-two .btn-style-one.style-three:before {
    background: #0070AC;
}

.course-package-block .top-content {
    background: #0070AC;
}

.course-package-block .link-btn a:hover {
    color: #0070AC;
}

.course-package-block .link-btn a i {
    color: #0070AC;
}

.courses-package-section .owl-dots .owl-dot:hover,
.courses-package-section .owl-dots .owl-dot.active{
    background-color:#0070AC;
}

.cta-section-two .contact-number a:hover {
    border-color: #0070AC;
}

.cta-section-two .contact-number a i {
    background-color: #0070AC;
}

.cta-section-two .contact-number a:hover i {
    color: #0070AC;
}

.two-column-section .owl-theme .owl-nav .owl-prev:hover:after,
.two-column-section .owl-theme .owl-nav .owl-next:hover:after {
    border-color: #0070AC;
    background-color: #0070AC;
}

.pricing-section .tab-area .tab-btn-style-one li a.active h4 {
    color: #0070AC;
}

.pricing-block .price-box {
    background-color: #0070AC;
}

.pricing-block:nth-child(2) .price-box {
    background-color: #127562;
}

.pricing-block .link-btn .theme-btn:hover {
    border-color: #0070AC;
}

.pricing-block .link-btn .btn-style-one:before {
    background-color: #0070AC;
}

.mission-section .nav-tabs .nav-link.active h4:before {
    background-color: #0070AC;
}

.mission-section .icon-box .icon {
    background: #0070AC;
    margin: 0 auto;
}

.team-section .icon-box {
    background-color: #0070AC;
}

.history-section .nav-tabs.tab-btn-style-one li.nav-item a.active:before {
    background-color: #0070AC;
}

.history-section .nav-tabs.tab-btn-style-one li.nav-item a.active:after {
    background: #0070AC;
}

.history-section .nav-tabs.tab-btn-style-one .active h4 {
    color: #0070AC;
}

.history-section .content h4 {
    color: #0070AC;
}

.accordion-box .block .acc-btn.active {
    background: #0070AC;
    border-color: #0070AC;
}

.banner-widget .contact-number a {
    color: #0070AC;
}

.banner-widget .contact-number a:hover {
    border-color: #0070AC;
}

.banner-widget .contact-number a i {
    background-color: #0070AC;
}

.banner-widget .contact-number a:hover i {
    color: #0070AC;
}

.contact-section .tab-area .tab-btn-style-one li a.active h4 {
    color: #0070AC;
}

.categories-list li.current a:after,
.categories-list li a:hover:after {
    color: #0070AC;
}

.categories-list li.current a:before,
.categories-list li a:hover:before {
    background-color: #0070AC;
}

.widget_popular_post .content h5 a:hover {
    color: #0070AC;
}

.widget_popular_post .content .post-info i {
    color: #0070AC;
}

.widget_tag_cloud li a:hover {
    background-color: #0070AC;
}

.news-block .share ul.social-links li a:hover {
    color: #0070AC;
}

.news-block .share ul.social-links li a:hover {
    color: #0070AC;
}

.banner-widget.style-two .contact-number a {
    background: #0070AC;
    border-color: #0070AC;
}

.widget_download {
    background: #0070AC !important;
}
