@import url('bootstrap.css');
@import url('style.css');
@import url('responsive.css');
@import url('color.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&amp;display=swap');

.test {

}
